In [1]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\user\appdata\roaming\python\python310\site-packages (2.2.9)

In [7]:
import mysql.connector
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
db = database.cursor()
db.execute("CREATE DATABASE pythons111")

In [11]:
import mysql.connector  #importing database
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python_class4pm"
)
db = database.cursor()

In [9]:
 #db.execute("CREATE TABLE subject(id INT,name VARCHAR(255))")

In [13]:
db.execute("SELECT * FROM student")
result =db.fetchall()
result

[(1, 'Ram', 45.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'F'),
 (2, 'Shyam', 70.0, 80.0, 90.0, 91.0, 87.0, 400.0, 90.0, 'A'),
 (3, 'Ram', 70.0, 60.0, 70.0, 88.0, 80.0, 500.0, 80.0, 'A')]

In [16]:
db.execute("SELECT sn,name,total,grade FROM student")
result =db.fetchall()
result

[(1, 'Ram', 0.0, 'F'), (2, 'Shyam', 400.0, 'A'), (3, 'Ram', 500.0, 'A')]

In [17]:
db.execute("SELECT* FROM student WHERE grade ='A'")
result =db.fetchall()
result

[(2, 'Shyam', 70.0, 80.0, 90.0, 91.0, 87.0, 400.0, 90.0, 'A'),
 (3, 'Ram', 70.0, 60.0, 70.0, 88.0, 80.0, 500.0, 80.0, 'A')]